@CHARSET "UTF-8";

body {


	margin: 0;
	padding: o;

}

h1 {
	background: #FFB300;
	text-align: center;
}

#square_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #F8BBD0;/*ボタン色*/
    color: #FFF;
    border-radius: 3px;
}
